@font-face{
	font-family:"fuente linda";
	src: url("fonts/LibreBaskerville-Regular.ttf")
	


}
nav{
	position: sticky;
	top: 1px;
	background-color: #7fa5fc;
	height: 50px;
	
	
}
#listanav li{
	display: inline-block;
	
}
#listanav {
	text-align: center;
	
}
body{
    background-color: #7fa5fc;
	font-family: "fuente linda";
	font-size: xx-large;
}

.texto {
    
    text-align: center;
}
h1{
    color: black;

}
img{
width: 50%;

}

.informacion{
    text-align: center;

}

.boton3 {
	box-shadow:inset 0px -15px 12px -8px #7a8eb9;
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	background-color:#637aad;
	border-radius:20px;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:11px 16px;
	text-decoration:none;
}
.boton3:hover {
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#5972a7;
}
.boton3:active {
	position:relative;
	top:1px;
}

table th{
	background-color: #314179;
	border: 5px; #7a8eb9;
	border-style: inherit;

}

table td{
	background-color: #637aad;
	border: 5px; #7a8eb9;
	border-style: inherit;

}
.tabla2 th{
	background-color: cornflowerblue;
	border: yellowgreen;
	border-style: outset;
}
.tabla2 td{
	background-color: darkcyan;
	border: yellowgreen;
	border-style: outset;
}
.tabla-principal{
	display: inline-block;
}

